.wrapper {
    width: 400px;
    margin: 0 auto;
}
.content {
    width: 400px;
}
.header {
    width: 390px;
    height: 100px;
    background: #FFCE7A;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
}
.flex-vertical {
    display: flex;
    height: 60px;
    width: 160px;
    background-color: #FFF;
}
.flex-box1 {
    margin: 10px 10px 10px 10px;
    width: 40px;
    height: 40px;
    background: #C2FFC8;
}
.flex-box2 {
    margin: 10px 0 ;
    width: 40px;
    height: 40px;
    background: #C2FFC8;
}
.flex-box3 {
    margin: 10px 10px 10px 10px;
    width: 40px;
    height: 40px;
    background: #C2FFC8;
}
.left {
    width: 150px;
    height: 250px;
    float: left;
    background: #9DDDF4;
}
.right {
    width: 250px;
    height: 250px;
    float: right;
    background: #C2FFC8;
    box-sizing: border-box;
}
.box {
    margin: 5px 5px 5px 5px;
    width: 140px;
    height: 40px;
    background-color: #FFC2C5;
}
.right-top {
    width: 150px;
    height: 50px;
    background: #FFF;
    margin: 40px 60px 10px 40px;
    padding: 1px 0 0 0;
}
.right-center {
    width: 150px;
    height: 50px;
    background: #FFF;
    margin: 0 60px 10px 40px;
    padding: 1px 0 0 0;
}
.righr-bottom {
    width: 150px;
    height: 50px;
    background: #FFF;
    margin: 0 60px 40px 40px;
    padding: 1px 0 0 0;
}
.footer {
    width: 400px;
    height: 100px;
    background: #BEA5FF;
    clear: both;
}
* {
    margin: 0;
    padding: 0;
}